<nav id="sidebarMenu" class="sidebar">
    <div class="position-sticky p-3 pt-4 mt-3 px-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/site/home']">
                    <span class="bi bi-house"></span>
                    Home
                </a>
            </li>
            <li *ngIf="isAdminMode" class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/user/my-orders']">
                    <span class="bi bi-bag"></span>
                    My Orders
                </a>
            </li>
        </ul>
        <h6 *ngIf="isAdminMode" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Admin</span>
        </h6>
        <ul *ngIf="isAdminMode" class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/admin/products']">
                    <span class="bi bi-shop"></span>
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/admin/orders']">
                    <span class="bi bi-box-seam"></span>
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/admin/shipments']">
                    <span class="bi bi-truck"></span>
                    Shipments
                </a>
            </li>
        </ul>
    </div>
</nav>
