ERPDB_URL="mysql://root:Fender2000@host.docker.internal:3306/erpdb"
SHIPDB_URL="postgres://postgres:Fender2000@host.docker.internal:5432/shipdb"
USERDB_URL="mysql://root:Fender2000@host.docker.internal:3306/spa_stack"

GOOGLECLIENTID=XXXX
GOOGLECLIENTSECRET=XXX

MICROSOFTCLIENTID=XXXX
MICROSOFTCLIENTSECRET=XXX
MICROSOFTTENANTID=XXX

KAFKABOOTSTRAPSERVERS="host.docker.internal:29092"
KAFKASCHEMAREGISTRYURL="http://host.docker.internal:8081"

OIDC_CALLBACK_HOST="http://localhost:8090"
