<form>
    <div class="mb-3 row">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">
            <input
                id="table-complete-search"
                type="text"
                class="form-control"
                name="searchTerm"
                [(ngModel)]="_controller.searchTerm"
            />
        </div>
        <div class="col-1">
            <button type="button" (click)="_controller.search()" class="btn btn-sm btn-outline btn-refresh m-0 p-0"><span class="bi bi-arrow-clockwise"></span></button>
        </div>
        @if (_controller.loading$ | async) {
            <span class="col col-form-label">Refreshing...</span>
        }

    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" sortable="orderId" (sort)="onSort($event)">Id</th>
                <th scope="col" sortable="orderDate" (sort)="onSort($event)">Date</th>
                <th scope="col" sortable="orderRef" (sort)="onSort($event)">Ref#</th>
                <th scope="col" sortable="customerName" (sort)="onSort($event)">Customer</th>
                <th scope="col" sortable="productId" (sort)="onSort($event)">Product</th>
                <th scope="col" sortable="orderQty" (sort)="onSort($event)">Qty</th>
                <th scope="col" sortable="orderTotal" (sort)="onSort($event)">Total</th>
                <th scope="col" sortable="orderStatus" (sort)="onSort($event)">Status</th>
            </tr>
        </thead>
        <tbody>
            @for (order of orders$ | async; track order.orderId) {
                <tr>
                    <td><ngb-highlight [result]="order.orderId.toString() " [term]="_controller.searchTerm" /></td>
                    <td><ngb-highlight [result]="order.orderDate | date" [term]="_controller.searchTerm" /></td>
                    <td><ngb-highlight [result]="order.orderRef" [term]="_controller.searchTerm" /></td>
                    <td><ngb-highlight [result]="order.customerName" [term]="_controller.searchTerm" /></td>
                    <td><ngb-highlight [result]="order.productId | number" [term]="_controller.searchTerm" /></td>
                    <td><ngb-highlight [result]="order.orderQty | number" [term]="_controller.searchTerm" /></td>
                    <td><ngb-highlight [result]="order.orderTotal | currency" [term]="_controller.searchTerm" /></td>
                    <td><ngb-highlight [result]="order.orderStatus | number" [term]="_controller.searchTerm" /></td>
                </tr>
            } @empty {
                <tr>
                    <td colspan="8" style="text-align: center">No orders found</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="_controller.page" [pageSize]="_controller.pageSize">
        </ngb-pagination>

        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="_controller.pageSize">
            <option *ngFor="let pageSize of pageSizes"  [ngValue]="pageSize">{{ pageSize }} items per page</option>
        </select>
    </div>
</form>
