.text-danger {
    font-size: .9em;
    font-style: italic;
}

.bi-bag {
    color: #BBB;
}

.place-order-title .bi {
    font-size: 1.3em;
    margin-right: 1.5em;
    float: left;
    margin-top: .05em;
}

.place-order-title h4{
    font-size: 1.3em;
    display: inline-block;
    color: #888;
    margin-top: .25em;
    margin-left: .15em;
}

.my-orders-title .bi {
    font-size: 1.3em;
    margin-right: 1.5em;
    float: left;
    margin-top: .05em;
}

.my-orders-title h3{
    font-size: 1.3em;
    display: inline-block;
    color: #555;
    margin-top: .25em;
    margin-bottom: 1em;
    margin-left: .15em;
}