<ng-template #content let-modal>
	<div class="modal-header bg-dark" data-bs-theme="dark">
		<h4 class="modal-title text-secondary" id="modal-basic-title">About</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body bg-dark text-secondary">
        <div class="container-fluid fs-5 p-4">
            <div class="row">
                <div class="col-3 text-end">
                    <label>UI:</label>
                </div>
                <div class="col-9">
                    <span class="text-primary">Angular 18</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-end">
                    <label>API:</label>
                </div>
                <div class="col-9">
                    <span class="text-success">{{ apiName }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-end">
                    <label>version:</label>
                </div>
                <div class="col-9">
                    <span class="text-secondary">{{ version }}</span>
                </div>
            </div>
        </div>
	</div>
	<div class="modal-footer bg-dark">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Done</button>
	</div>
</ng-template>