<ng-template #content let-modal>
	<div class="modal-header bg-dark" data-bs-theme="dark">
		<h4 class="modal-title text-secondary" id="modal-basic-title">About</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body bg-dark text-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <label>UI:</label>
                </div>
                <div class="col-10">
                    <strong><span class="text-primary">Angular 18</span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label>API:</label>
                </div>
                <div class="col-10">
                    <strong><span class="text-info">{{ apiName }}</span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label>version:</label>
                </div>
                <div class="col-10">
                    <strong><span class="text-tertiary">{{ version }}</span></strong>
                </div>
            </div>
        </div>
	</div>
	<div class="modal-footer bg-dark">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Done</button>
	</div>
</ng-template>